# copying/using this file as your .env should give you access to use this app for manual testing/interactions
MONGODB_URI=mongodb+srv://harrywsong:test@cluster0.xxgvpyq.mongodb.net/chat_app?retryWrites=true&w=majority
PORT=3000
